include ../../components/blocks/header/header.pug
include ../../components/blocks/footer/footer.pug



doctype html
html(lang="ru")
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
		link(rel="icon" href="assets/img/favicon.ico")
		link(rel="stylesheet", href="assets/css/common.css")
		link(rel="stylesheet", href="assets/css/privacy-policy.css")
		title='Главная'
	body
		.wrapper
			-
				const headerMenu = [
					{text: 'Наши предложения', link:'#',submenu:''}, 
					{text: 'Поддержка', link:'#',submenu:''}, 
					//{text: 'Соглашения', link:'#',submenu:[{subText: 'Правила', subLink: '#'},{subText: 'Правила', subLink: 'https://www.google.com/'}, {subText: 'Правила', subLink: '#'}]}
				]
			+header('unlogged', headerMenu, false)


			main.main
				section.main__content
					.container
						.license
							.license__item
								.licence-block
									h1.licence-block__title.title.title_license-argeement Лицензионное соглашение
									p.licence-block__text Настоящее Лицензионное соглашение (договор) является предложением (публичной офертой) и содержит порядок и все существенные условия использования и приобретения Вами (далее – «Пользователь») программного обеспечения (далее «Программа»).
									p.licence-block__text В соответствии с настоящим соглашением, автор (далее «Правообладатель») – обладатель исключительных имущественных авторских прав на программу для ЭВМ , включая Руководство пользователя к ней в печатном и/или электронном виде – обязуется предоставить Пользователю (напрямую либо через третьих лиц) неисключительное право на использование Программы, ограниченное правом инсталляции и запуска Программы в соответствии с установленными настоящим Соглашением (договором) правилами и условиями (простая неисключительная лицензия).
							.license__item
								.licence-block
									h2.licence-block__title.title.title_offert-accept Порядок акцепта оферты (лицензионного соглашения)
									p.licence-block__text Настоящая оферта (лицензионное соглашение/договор) считается акцептованной Пользователем в случае соблюдения одного из двух следующих условий:
									ol.licence-block__list.list
										li.licence-block__item.list__item Выбор Пользователем пункта «Я принимаю условия Лицензионного соглашения» при установке Программы и нажатие на кнопку «Далее» означает безоговорочное согласие Пользователя с условиями настоящего соглашения.
										li.licence-block__item.list__item Факт оформления заказа, оплаты или получения Пользователем от Правообладателя или уполномоченных третьих лиц неисключительных прав на использование Программы на основании (на условиях) настоящего договора (соглашения) означает безоговорочное согласие Пользователя с условиями настоящего соглашения.
							.license__item
								.licence-block
									h3.licence-block__title.title.title_rights-cost Порядок передачи и стоимость прав
									p.licence-block__text Настоящая оферта (лицензионное соглашение/договор) считается акцептованной Пользователем в случае соблюдения одного из двух следующих условий:
									ol.licence-block__list.list
										li.licence-block__item.list__item Выбор Пользователем пункта «Я принимаю условия Лицензионного соглашения» при установке Программы и нажатие на кнопку «Далее» означает безоговорочное согласие Пользователя с условиями настоящего соглашения.
										li.licence-block__item.list__item Факт оформления заказа, оплаты или получения Пользователем от Правообладателя или уполномоченных третьих лиц неисключительных прав на использование Программы на основании (на условиях) настоящего договора (соглашения) означает безоговорочное согласие Пользователя с условиями настоящего соглашения.





			-
				const footerMenu = [
					{text: 'Лицензионное соглашение', link:'privacy-policy.html'}, 
					{text: 'Политика конфиденциальности', link:'#'}, 
					{text: 'О компании', link:'#'}, 
				]
			-const footerCopyRight='© 2020 PhotoDiva − портретный фоторедактор'
			+footer(footerMenu,footerCopyRight)



